*.cache/
*.runs/
*.tmp/
*.ip_user_files/
*.sdk/*/Debug/
*.o
*.lib
*.log
.idea/
.metadata/
cmake-build*/
.vscode/
*.bin
*.bit
vivado_pid*.str
*.jou
*.srcs/*/bd/*/
!*.srcs/*/bd/mref
!*.srcs/*/bd/*/*.bd
!*.srcs/*/bd/*/*.bxml
!*.srcs/*/bd/*/ui/
!*.srcs/*/bd/*/ip/*/*.xml
!*.srcs/*/bd/*/ip/*/*.xci
.Xil