*.cache/
*.runs/
*.tmp/
*.ip_user_files/
*.log
.idea/
.vscode/
*.bin
*.bit
vivado_pid*.str
*.jou

# BD
*.srcs/*/bd/*/sim/*
*.srcs/*/bd/*/synth/*
*.srcs/*/bd/*/ipshared/*
*.srcs/*/bd/*/ip/*/*
!*.srcs/*/bd/*/ip/*/*.xml
!*.srcs/*/bd/*/ip/*/*.xci

.Xil
~*
